# URL для локальной разработки (порт 5433 проброшен из Docker)
DATABASE_URL="postgresql://localdrop_user:supersecretpassword@127.0.0.1:5433/localdrop_db?schema=public"

# ПИН-код для авторизации новых устройств
APP_PIN="1234"